testsuite/integration/web/src/test/java/org/jboss/as/test/integration/deployment/classloading/jaxp/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="root">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="string" type="xs:string"/>
      <xs:element name="int" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>