redhat-support-lib/src/main/xsd/strata-knowledge.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- This document is used by JAXB to generate Java classes at project build 
	time. Most entities can be the top-level payload of an REST API response 
	or embedded in another entity. -->
<xs:schema targetNamespace="http://www.redhat.com/gss/strata"
	elementFormDefault="qualified" version="1.14.0-SNAPSHOT-SNAPSHOT"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="http://www.redhat.com/gss/strata"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc">

	<!-- ================================================================================================= -->

    <xs:simpleType name="baseScoreType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================================================= -->

    <xs:complexType name="advisoryType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class>
                    <jaxb:javadoc>
                        Advisory Type for CVE.
                    </jaxb:javadoc>
                </jaxb:class>
            </xs:appinfo>
            <xs:documentation>Advisory Type for CVE.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="url" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="affectedReleaseType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class>
                    <jaxb:javadoc>
                        The cpe of what this node references as fixed
                    </jaxb:javadoc>
                </jaxb:class>
            </xs:appinfo>            
            <xs:documentation>The cpe of what this node references as fixed</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="cpe" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="productName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="releaseDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="advisory" type="tns:advisoryType"/>
            <xs:element name="package" type="tns:packageType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="affectedReleasesType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class>
                    <jaxb:javadoc>
                        Allows for list of affectedReleaseType.
                    </jaxb:javadoc>
                </jaxb:class>
            </xs:appinfo>
            <xs:documentation>Allows for list of affectedReleaseType.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="affectedRelease" type="tns:affectedReleaseType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="articleType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
				A KCS Article. Some elements have subelements called "html" and "text". The "html" field
				is "safe value" field. It is the text field rendered as HTML so there is no markup in the
				"html" field and it is not editable. The "text" field is an editable
				field that may contain HTML markup.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>
				A KCS Article. Some elements have subelements called "html" and "text". The "html" field
				is "safe value" field. It is the text field rendered as HTML so there is no markup in the
				"html" field and it is not editable. The "text" field is an editable
				field that may contain HTML markup.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:trackedEntityType">
				<xs:sequence>
					<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A unique identifier for the solution assigned by the backing system.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="tnid" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Translated Solution identifier assigned by backing system.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>RESTful URI for this solution.  </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="uidName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Author name.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="view_uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Portal URI for this solution.  </xs:documentation>
						</xs:annotation>
					</xs:element>

					<!-- BOOKMARK -->
					<xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Title</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="authorSSOName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								AuthorSSOName. This field is required by the model but the schema allows it to be omitted so
								that field-level updates are possible.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="lastModifiedBySSOName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								lastModifiedBySSOName. This field is required by the model but the schema allows it to be
								omitted so that field-level updates are possible.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								language of the node/solution. This field is required by the model but the schema allows it to
								be omitted so that field-level updates are possible.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="issue" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1"/>

					<xs:element name="environment" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1"/>

					<xs:element name="resolution" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1"/>

					<xs:element name="rootCause" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1"/>

					<xs:element name="internalDiagnosticSteps" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1"/>

					<xs:element name="externalDiagnosticSteps" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation> External summary of steps that are used in troubleshooting.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Short summary or the first n words from the contents</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="hasPublishedRevision" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Does a published revision of this solution exist?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="score" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The lucene score for article</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="tags" type="tns:knowledgeTagsType">
						<xs:annotation>
							<xs:documentation>TAGs for this article resource.  </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="categories" type="tns:knowledgeCategoriesType">
						<xs:annotation>
							<xs:documentation>Categories for this article resource.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="case" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A Case linked to this Solution.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="tag" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="unbounded"/>

					<xs:element name="published" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is Solution published?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="duplicateOf" type="tns:knowledgeDuplicateLinkType" minOccurs="0" maxOccurs="unbounded"/>

					<xs:element name="kcsState" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>KCS State</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="body"  type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
                                                                                                                                        Text body of the article containing  value with markdown(formatted text) and without markdown(plain text)
                                                                                                                           </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="sbrs" type="tns:knowledgeSbrsType">
						<xs:annotation>
							<xs:documentation>SBRs for this solution resource.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="products" type="tns:knowledgeProductsType">
						<xs:annotation>
							<xs:documentation>Drupal products list for this solution resource.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="LinkedProducts" type="tns:knowledgeLinkedProductsType">
						<xs:annotation>
							<xs:documentation>
								linked products list for this solution Sresource. This list is calculated from a Math, that 
								calculatges if linked case's product can be quanitatively make to this list.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="productFamily" type="tns:knowledgeProductFamilyType">
						<xs:annotation>
							<xs:documentation>This is the families of products to which the article belongs to.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="ModerationState" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The moderation state the article is currently in.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="link" type="tns:knowledgeLinkType" minOccurs="0" maxOccurs="unbounded"/>

					<xs:element name="caseCount" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The count of cases linked to this solution.  This only appears in search results and recommendations.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="abstract" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								This is a short summary of the Solution suitable for display as part of search results. If a particular
								solution does not have this field set; then one is automatically created by Calaveras.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="extract" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								This field is only set when the solution is part of search results (or recommendations). This is an excerpt
								from the solution which contains the section(s) of the solution that best indicate why this solution matched the search query.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="explanation" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Lucene search result explanation of why and how well this document matches the search query.
								This field is only set when the solution is part of search results (or recommendations).
								This field only is present when the 'explain=true' search query parameter is used.
								This field is only for debugging purposes.  See 'extract' for a more generally useful field.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="detectedLanguage" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Only for solutions returned from Calaveras.  Language of the solution detected by Google's language-detection.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="setLanguage" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation> Only for solutions returned from Calaveras.  The language as set by the author in drupal.  </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="indexedDate" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time when the solution has been indexed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="accessState" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The access state in the KCS lifecycle the solution is currently in. The possible states are "active","private", "retired".
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="articlesType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A list of articles.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>                    
			<xs:documentation>A list of articles.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element ref="tns:article" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="cveDetailsType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class>
                    <jaxb:javadoc>
                        Details on the CVE.
                    </jaxb:javadoc>
                </jaxb:class>
            </xs:appinfo>
            <xs:documentation>Details on the CVE.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
           <xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cveType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class>
                    <jaxb:javadoc>
                        A CVE. Some elements have subelements called "html" and "text". The "html" field
                        is "safe value" field. It is the text field rendered as HTML so there is no markup in the
                        "html" field and it is not editable. The "text" field is an editable
                        field that may contain HTML markup.
                    </jaxb:javadoc>
                </jaxb:class>
            </xs:appinfo>
            <xs:documentation>
                A CVE. Some elements have subelements called "html" and "text". The "html" field
                is "safe value" field. It is the text field rendered as HTML so there is no markup in the
                "html" field and it is not editable. The "text" field is an editable
                field that may contain HTML markup.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:knowledgeBaseType">
                <xs:sequence>
                    <!-- START OF CVE -->                                          
                   <xs:element name="threatSeverity" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Impact rating: Low, Moderate, Important, Critical.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="publicDate" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The date the issue was made public.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="bugzilla" type="tns:bugzillaType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Bugzilla information for the CVE.</xs:documentation>
                        </xs:annotation>                                            
                    </xs:element>
                    <xs:element name="cvss" type="tns:cvssType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>CVSS information for the CVE.</xs:documentation>                                                 
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="details" type="tns:cveDetailsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Details for the CVE.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="statement" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Our public statement of the flaw.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="mitigation" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>A text for mitigation steps ("To mitigate this flaw, do ...")</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="affectedReleases" type="tns:affectedReleasesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The cpe of what this node references as fixed.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="acknowledgement" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Our acknowledgement text ("Red Hat would like to thank ...")</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="references" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>A list of URLs that refer to this issue (usually upstream reports or CERT reports, etc.); this is a text field with one URL per line; will need to translate the HTML</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IAVA" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The IAVA that corresponds to this CVE.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="cvesType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A collection of CVEs.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>A collection of CVEs.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="cve" type="tns:cveType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
    </xs:complexType>

    <xs:complexType name="cvssType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class>
                    <jaxb:javadoc>
                        The cvss information for the CVE
                    </jaxb:javadoc>
                </jaxb:class>
            </xs:appinfo>
            <xs:documentation>The cvss information for the CVE</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scoringVector" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="baseScore" type="tns:baseScoreType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>       
    </xs:complexType>

    <xs:complexType name="knowledgeBaseType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class>
                    <jaxb:javadoc>
                        Base type for all knoweldgebase content types.
                    </jaxb:javadoc>
                </jaxb:class>
            </xs:appinfo>
            <xs:documentation>Base type for all knoweldgebase content types.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The title of the knowledgebase content.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="authorSSOName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The SSO username of the user that authored the knowledgebase content.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lastModifiedBySSOName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The SSO username of the user that last modified the knowledgebase content.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The language the knowledgebase content is written in. When a content is
                        retrieved from drupal, this field is the language as set by the author of the content.
                        When content is retrieved from Calaveras, this is the language as set by
                        drupal unless that is empty or null, in which case this is set by Calaveras from
                        detectLanguage. If language detection fails, it is set by Calaveras to be 'en'.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>  
            <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Knowledgebase content identifier assigned by backing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tnid" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Translated knowledgebase content identifier assigned by backing system.</xs:documentation>
                </xs:annotation>
            </xs:element>  
            <xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>API URI for this knowledgebase resource.  </xs:documentation>
                </xs:annotation>
            </xs:element>   
            <xs:element name="viewUri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Portal URI for this knowledgebase resource.  </xs:documentation>
                </xs:annotation>
            </xs:element>                                            
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="knowledgeCategoriesType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Categories for things like articles resource.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Categories for things like articles resource.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="knowledgeDescriptionType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A description of the something knowledge related like a solution issue or environment.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>                    
			<xs:documentation>A description of the something knowledge related like a solution issue or environment.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="text" type="xs:string"/>
			<xs:element name="html" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="knowledgeDuplicateLinkType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Links to duplicates of the solution 
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Links to duplicates of the solution </xs:documentation>
		</xs:annotation>

		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="rel" type="xs:string" use="optional" default="solution"/>
				<xs:attribute name="solutionId" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="knowledgeLinkedProductsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    linked products list for this solution Sresource. This list is calculated from a Math, that 
                                    calculatges if linked case's product can be quanitatively make to this list.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>
				linked products list for this solution Sresource. This list is calculated from a Math, that 
				calculatges if linked case's product can be quanitatively make to this list.
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="product" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="knowledgeLinkType">
            <xs:annotation>
                <xs:appinfo>
                    <jaxb:class>
                        <jaxb:javadoc>
                            Complex type for knowledge link.
                        </jaxb:javadoc>
                    </jaxb:class>
                </xs:appinfo>
            </xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="rel" type="xs:string" use="optional"/>		
			</xs:extension> 
		</xs:simpleContent>
	</xs:complexType>                                                                                                       

	<xs:complexType name="knowledgeProductFamilyType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    This is the families of products to which the solution belongs to.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>This is the families of products to which the solution belongs to.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="family" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="knowledgeProductsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Drupal products list for this solution resource.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Drupal products list for this solution resource.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="product" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="knowledgeSbrsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    SBRs for this solution resource.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>SBRs for this solution resource.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="sbr" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="knowledgeTagsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    TAGs for this solution resource.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>TAGs for this solution resource.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
        
        
                <xs:complexType name="knowledgeComponentsType">
		<xs:annotation>
			<xs:documentation>Components for this solution resource. </xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="component" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="packageType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class>
                    <jaxb:javadoc>
                        Package Type for CVE.
                    </jaxb:javadoc>
                </jaxb:class>
            </xs:appinfo>
            <xs:documentation>Package Type for CVE.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="privateNotesType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Private notes section
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Private notes section</xs:documentation>
		</xs:annotation>                

		<xs:complexContent>
			<xs:extension base="tns:trackedEntityType">
				<xs:sequence>
					<xs:element name="text" type="xs:string"/>
					<xs:element name="html" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="recommendationLinkedProductsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Linked products list for this suggestion resource.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Linked products list for this suggestion resource.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="linkedProduct" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="recommendationType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Complex Type for recommendation.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Complex Type for recommendation.</xs:documentation>
		</xs:annotation>            
		<xs:complexContent>
			<xs:extension base="tns:trackedEntityType">
				<xs:sequence>
					<xs:choice>
						<xs:element ref="tns:solution"/>
						<xs:element ref="tns:article"/>
					</xs:choice>

					<xs:element name="algorithmScore" type="xs:double"/>
					<xs:element name="analysisAlgorithm" type="xs:string"/>
					<xs:element name="analysisAlgorithmVersion" type="xs:string"/>
					<xs:element name="analysisCategory" type="xs:string"/>
					<xs:element name="analysisModule" type="xs:string"/>
					<xs:element name="analysisService" type="xs:string"/>
					<xs:element name="analysisServiceVersion" type="xs:string"/>
					<xs:element name="bucket" type="xs:string"/>
					<xs:element name="caseNumber" type="xs:string"/>
					<xs:element name="client" type="xs:string"/>
					<xs:element name="clientVersion" type="xs:string"/>
					<xs:element name="display" type="xs:boolean"/>
					<xs:element name="maturityLevel" type="xs:string"/>
					<xs:element name="analysisStatus" type="xs:string"/>
					<xs:element name="firstSuggestedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="keywords" type="xs:string"/>
					<xs:element name="lastSuggestedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="location" type="xs:string"/>
					<xs:element name="luceneScore" type="xs:double"/>
					<xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="note" type="xs:string"/>
					<xs:element name="origin" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="pinnedAt" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="pinnedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="relevanceScore" type="xs:int" minOccurs="0" maxOccurs="1"/>
					<xs:element name="resource" type="xs:string"/>
					<xs:element name="resourceId" type="xs:string"/>
					<xs:element name="resourceType" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="resourceURI" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="resourceViewURI" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="rule" type="xs:string"/>
					<xs:element name="ruleVersion" type="xs:string"/>
					<xs:element name="scoringAlgorithmVersion" type="xs:double"/>
					<xs:element name="solutionId" type="xs:string"/>
					<xs:element name="solutionKcsState" type="xs:string"/>
					<xs:element name="solutionOwnerSSOName" type="xs:string"/>
					<xs:element name="solutionTitle" type="xs:string"/>
					<xs:element name="solutionAbstract" type="xs:string"/>
					<xs:element name="solutionUrl" type="xs:string"/>
					<xs:element name="suggestedCount" type="xs:double" minOccurs="0" maxOccurs="1"/>
					<xs:element name="suggestionRelevanceScore" type="xs:double" minOccurs="0" maxOccurs="1"/>

					<xs:element name="explanation" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Lucene search result explanation of why and how well this document
								matches the search query.  This field is only set when the solution is part of search results
								(or recommendations).  This field only is present when the 'explain=true' search query
								parameter is used.  This field is only for debugging purposes. See 'extract' for a more
								generally useful field.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="tracebackUrl" type="xs:string" minOccurs="0" maxOccurs="1"/>

					<xs:element name="solutionCaseCount" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The count of cases linked to this solution.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="language" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								This field is set based on the first of the following that is not
								empty or null: the language field returned by drupal
								the language as detected by Calaveras 'en'
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="detectedLanguage" type="xs:string">
						<xs:annotation>
							<xs:documentation> The language of the suggestion detected by language-detection tool.  </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="setLanguage" type="xs:string">
						<xs:annotation>
							<xs:documentation> The language of the suggestion set by the author in drupal.  </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="ModerationState" type="xs:string"/>
					<xs:element name="hasPublishedVersion" type="xs:string"/>
					<xs:element name="product" type="xs:string"/>
					<xs:element name="indexedDate" type="xs:string"/>

					<xs:element name="sbrs" type="tns:knowledgeSbrsType">
						<xs:annotation>
							<xs:documentation>SBRs for this suggestion resource.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="tags" type="tns:knowledgeTagsType">
						<xs:annotation>
							<xs:documentation>TAGs for this suggestion resource.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="products" type="tns:knowledgeProductsType">
						<xs:annotation>
							<xs:documentation>Drupal products list for this suggestion resource.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="linkedProducts" type="tns:recommendationLinkedProductsType">
						<xs:annotation>
							<xs:documentation>Linked products list for this suggestion resource.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="productFamily" type="tns:knowledgeProductFamilyType">
						<xs:annotation>
							<xs:documentation>This is the families of products to which the solution belongs to.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="kcsProductCount" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The count of linked cases to solution that has same product as that of
								solution's product/linked product value.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="recommendationsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A list of suggestions.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>A list of suggestions.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:strataEntityType">
				<xs:sequence>
					<xs:element ref="tns:recommendation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- ============================================================= -->

	<xs:complexType name="solutionType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A KCS Solution. Some elements have subelements called "html" and "text". The "html" field
                                    is a "safe value" field.  It is the text field containing HTML markup rendered from the
                                    markdown stored in "value". The "html" field is not editable. The
                                    "text" field is the editable field that may contain markdown.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>
				A KCS Solution. Some elements have subelements called "html" and "text". The "html" field
				is a "safe value" field.  It is the text field containing HTML markup rendered from the
				markdown stored in "value". The "html" field is not editable. The
				"text" field is the editable field that may contain markdown.
			</xs:documentation>
		</xs:annotation>

		<xs:complexContent>
			<xs:extension base="tns:trackedEntityType">
				<xs:sequence>
					<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Solution identifier assigned by backing system.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="tnid" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Translated Solution identifier assigned by backing system.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>RESTful URI for this solution resource.  </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="uidName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Author name.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="view_uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Portal URI for this solution resource.  </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The title of the solution.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="authorSSOName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The SSO username of the user that authored the solution.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="lastModifiedBySSOName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The SSO username of the user that last modified the solution.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The language the solution is written in. When a solution is
								retrieved from drupal, this field is the language as set by the author of the solution.
								When a solution is retrieved from Calaveras, this is the language as set by
								drupal unless that is empty or null, in which case this is set by Calaveras from
								detectLanguage. If language detection fails, it is set by Calaveras to be 'en'.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="issue" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A description of the issue the solution resolves.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="environment" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A description of the environment the solution applies to.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="resolution" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A description of the resolution proposed to resolve the issue.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="rootCause" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A description of the underlying cause of the issue.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="internalDiagnosticSteps" type="tns:knowledgeDescriptionType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A description of the diagnostic steps a technician should take to diagnose the issue.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="externalDiagnosticSteps" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A description of the diagnostic steps a customer should take to diagnose the issue.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element ref="tns:privateNotes" minOccurs="0" maxOccurs="1" >
						<xs:annotation>
							<xs:documentation>
								The private notes attached to the solution
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Summary of the solution.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="score" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The lucene score for the solution.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="case" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A case linked to this solution.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="supportNeed" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A support need linked to this solution.  </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="published" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is the solution published?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="hasPublishedRevision" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Does a published revision of this solution exist?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="isLocked" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is the solution locked?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="lockedBy" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Who locked the solution?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="lockedAt" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>When was the solution locked?  </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="lockExpiresAt" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>When will the lock expire?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="duplicateOf" type="tns:knowledgeDuplicateLinkType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Links to duplicates of the solution </xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="kcsState" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The state in the KCS lifecycle the solution is currently in. The
								possible states are "wip", "verified", and "unverified".
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="sbrs" type="tns:knowledgeSbrsType">
						<xs:annotation>
							<xs:documentation>SBRs for this solution resource.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="tags" type="tns:knowledgeTagsType">
						<xs:annotation>
							<xs:documentation>TAGs for this solution resource.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="products" type="tns:knowledgeProductsType">
						<xs:annotation>
							<xs:documentation>Drupal products list for this solution resource.</xs:documentation>
						</xs:annotation>
					</xs:element>
                                                                                        <xs:element name="components" type="tns:knowledgeComponentsType">
						<xs:annotation>
							<xs:documentation>Components for this solution resource.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LinkedProducts" type="tns:knowledgeLinkedProductsType">
						<xs:annotation>
							<xs:documentation>
								linked products list for this solution Sresource. This list is calculated from a Math, that 
								calculatges if linked case's product can be quanitatively make to this list.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="productFamily" type="tns:knowledgeProductFamilyType">
						<xs:annotation>
							<xs:documentation>This is the families of products to 
								which the solution belongs to.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="ModerationState" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The moderation state the solution is currently in.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="caseCount" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The count of cases linked to this solution.
								This only appears
								in search results and recommendations.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="kcsProductCount" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The count of cases having the same product as that of 
								solution's product or linked product field.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="abstract" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								This is a short summary of the Solution
								suitable for display as part of search results. If a particular
								solution
								does not have this field set; then one is automatically
								created by Calaveras.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="extract" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								This field is only set when the solution is
								part of search results (or recommendations). This is an excerpt
								from
								the solution which contains the section(s) of the solution
								that best indicate why this solution matched the
								search query.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="explanation" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Lucene search result explanation of why and how well this document matches the search query.
								This field is only set when the solution is part of search results (or
								recommendations).  This field only is present when the 'explain=true' search query
								parameter is used.  This field is only for debugging purposes.
								See 'extract' for a more generally useful field.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="detectedLanguage" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Only for solutions returned from Calaveras.
								Language of the solution detected by Google's language-detection.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="setLanguage" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Only for solutions returned from Calaveras.
								The language as set by the author in drupal.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="indexedDate" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Time when the solution has been indexed.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="accessState" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The access state in the KCS lifecycle the solution is currently in. The possible states are "active","private", "retired".
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="solutionsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A list of solutions.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>A list of solutions.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element ref="tns:solution" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="supportNeedType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A support need.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>A support need.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:trackedEntityType">
				<xs:sequence>
					<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Case identifier assigned by backing system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>RESTful URI for this support need resource.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Title or short summary. This field is required by the model but the schema allows it to be
								omitted so that field-level updates are possible.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Description of the problem or question. This field is required by the model
								but the schema allows it to be omitted so that field-level updates are possible.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation> Case status. Valid values are available from the values service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="product" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Product this case relates to. Valid products are available from the products resource. This
								field is required by the model but the schema allows it to be omitted so that field-level updates are possible.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="component" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Component this case relates to (optional).  Valid components for a given product are available
								from the values service.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Version of the product this case relates to.  Valid versions for a given product are available
								from the products resource.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation> Type of case, i.e. question, problem, etc.  Valid types are available from the values service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="accountNumber" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Account number this case belongs to. This field is required by the model but the schema allows it to be
								omitted so that field-level updates are possible.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="view_uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Portal URI for this solution.  </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reference" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="notes" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="escalated" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
					<xs:element name="contactName" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="contactSsoUsername" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="origin" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="owner" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="internalPriority" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="internalStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="suppliedName" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="suppliedPhone" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="suppliedEmail" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="severity" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="folderNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="tns:comments" minOccurs="0"/>
					<xs:element ref="tns:notified_users" minOccurs="0"/>
					<xs:element ref="tns:entitlement" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="tns:solutions" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>

				<xs:attribute name="alternateId" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- ============================================================= -->

	<xs:complexType name="sqiRatingType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    An SQI Rating for a KCS Solution.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>An SQI Rating for a KCS Solution.</xs:documentation>
		</xs:annotation>

		<xs:complexContent>
			<xs:extension base="tns:trackedEntityType">
				<xs:sequence>
					<xs:element name="solution" type="tns:sqiSolutionLinkType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A link to the Solution this sqiRating is applicable to.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="completeTitle" type="xs:integer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is the title complete?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="adheresToContentStandard" type="xs:integer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Solution adheres to current template, style,
								and formatting guidelines in the content
								standard?
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="accuratelyReflectsProblem" type="xs:integer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Does the issue accurately reflect the
								customer's problem and context?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="isUnique" type="xs:integer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is article unique?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="clearAndConcise" type="xs:integer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is content clear and concise?</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="metadataSetCorrectly" type="xs:integer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is article metadata set correctly?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="sqiSolutionLinkType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A link to the Solution this sqiRating is applicable to.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>A link to the Solution this sqiRating is applicable to.</xs:documentation>
		</xs:annotation>

		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="rel" type="xs:string" use="optional" default="solution"/>
				<xs:attribute name="solutionId" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="tagType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Complex Type for a Tag.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Complex Type for a Tag.</xs:documentation>
		</xs:annotation>            
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ================================================================================================= -->

	<xs:element name="article" type="tns:articleType">
		<xs:annotation>
			<xs:documentation>
				A KCS Article. Some elements have subelements called "html" and "text". The "html" field
				is "safe value" field. It is the text field rendered as HTML so there is no markup in the
				"html" field and it is not editable. The "text" field is an editable
				field that may contain HTML markup.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="articles" type="tns:articlesType">
		<xs:annotation>
			<xs:documentation>A list of articles.</xs:documentation>
		</xs:annotation>
	</xs:element>

    <xs:element name="cve" type="tns:cveType">
        <xs:annotation>
            <xs:documentation>CVE.</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="cves" type="tns:cvesType">
        <xs:annotation>
            <xs:documentation>CVEs.</xs:documentation>
        </xs:annotation>
    </xs:element>

	<xs:element name="knowledgeDescription" type="tns:knowledgeDescriptionType">
		<xs:annotation>
			<xs:documentation>A description of the something knowledge related like a solution issue or environment.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="privateNotes" type="tns:privateNotesType">
		<xs:annotation>
			<xs:documentation>Private notes section</xs:documentation>
		</xs:annotation>                
	</xs:element>

	<xs:element name="recommendation" type="tns:recommendationType">
		<xs:annotation>
			<xs:documentation>A suggestion referring to a solution and related meta data.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="recommendations" type="tns:recommendationsType">
		<xs:annotation>
			<xs:documentation>A list of suggestions.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="solution" type="tns:solutionType">
		<xs:annotation>
			<xs:documentation>
				A KCS Solution. Some elements have subelements called "html" and "text". The "html" field
				is a "safe value" field.  It is the text field containing HTML markup rendered from the
				markdown stored in "value". The "html" field is not editable. The
				"text" field is the editable field that may contain markdown.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="solutions" type="tns:solutionsType">
		<xs:annotation>
			<xs:documentation>A list of solutions.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="supportNeed" type="tns:supportNeedType">
		<xs:annotation>
			<xs:documentation>A support need.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="tag" type="tns:tagType"/>

	<xs:element name="tags" type="tns:tagsType">
		<xs:annotation>
			<xs:documentation>A list of Tags.</xs:documentation>        
		</xs:annotation>
	</xs:element>

</xs:schema>
