domain/src/main/resources/schema/jboss-domain-web.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2010, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:jboss:domain:1.0" xmlns="urn:jboss:domain:1.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
>

    <!-- Include the common definitions  -->
    <!-- Just for testing...
    <xs:include schemaLocation="jboss-domain-common.xsd"/>
      -->
   
   <xs:element name="web-containers" type="web-containersType"/>
   <xs:complexType name="web-containersType">
       <xs:sequence>
           <xs:element name="web-container" type="web-containerType" minOccurs="1" maxOccurs="unbounded" />
       </xs:sequence>
   </xs:complexType>

   <!-- The web container configuration -->
   <xs:complexType name="web-containerType">
   <!--  FIXME classloading delegation and package filtering ? -->
      <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="config"/>
          <xs:element maxOccurs="unbounded" ref="connector"/>
          <xs:element maxOccurs="unbounded" ref="virtual-server"/>
          <xs:element name="web-jar" minOccurs="0" maxOccurs="unbounded" type="xs:string">
              <xs:annotation>
                  <xs:documentation>JARs which may contain shared TLDs or SCIs</xs:documentation>
              </xs:annotation>
          </xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
  </xs:complexType>

  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="filters"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="servlets"/>
        <xs:element name="mime-mapping" minOccurs="0" maxOccurs="unbounded" type="propertiesWithRequiredValueType" />
        <xs:element name="welcome-file" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="filters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ssi" type="ssi-filterType"/>
        <xs:element minOccurs="0" maxOccurs="1" name="csrf"/>
        <xs:element minOccurs="0" maxOccurs="1" name="webdav-fix"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="servlets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="default" type="default-servletType"/>
        <xs:element minOccurs="0" maxOccurs="1" name="jsp" type="jsp-servletType"/>
        <xs:element minOccurs="0" maxOccurs="1" name="ssi" type="ssi-servletType"/>
        <xs:element minOccurs="0" maxOccurs="1" name="cgi" type="cgi-servletType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="default-servletType">
    <xs:attribute name="listings" default="true" type="boolean"/>
    <xs:attribute name="sendfile" default="49152"/>
    <xs:attribute name="file-encoding"/>
    <xs:attribute name="read-only" default="true" type="boolean"/>
    <xs:attribute name="webdav" default="false" type="boolean"/>
    <xs:attribute name="secret"/>
    <xs:attribute name="max-depth" default="3"/>
  </xs:complexType>

  <xs:complexType name="jsp-servletType">
    <xs:attribute name="development" default="false" type="boolean"/>
    <xs:attribute name="keep-generated" default="true" type="boolean"/>
    <xs:attribute name="trim-spaces" default="false" type="boolean"/>
    <xs:attribute name="tag-pooling" default="true" type="boolean"/>
    <xs:attribute name="mapped-file" default="true" type="boolean"/>
    <xs:attribute name="check-interval" default="0"/>
    <xs:attribute name="modification-test-interval" default="4"/>
    <xs:attribute name="recompile-on-fail" default="false" type="boolean"/>
    <xs:attribute name="smap" default="true" type="boolean"/>
    <xs:attribute name="dump-smap" default="false" type="boolean"/>
    <xs:attribute name="generate-strings-as-char-arrays" default="false" type="boolean"/>
    <xs:attribute name="error-on-use-bean-invalid-class-attribute" default="false" type="boolean"/>
    <xs:attribute name="scratch-dir"/>
    <xs:attribute name="source-vm" default="1.5"/>
    <xs:attribute name="target-vm" default="1.5"/>
    <xs:attribute name="java-encoding" default="UTF8"/>
    <xs:attribute name="x-powered-by" default="true" type="boolean"/>
    <xs:attribute name="display-source-fragment" default="true" type="boolean"/>
  </xs:complexType>

  <xs:complexType name="cgi-servletType">
    <xs:attribute name="debug" default="0"/>
    <xs:attribute name="cgi-path-prefix"/>
    <xs:attribute name="pass-shell-environment" default="false" type="boolean"/>
    <xs:attribute name="cgi-executable" default="perl"/>
    <xs:attribute name="parameter-encoding"/>
  </xs:complexType>

  <xs:complexType name="ssi-servletType">
    <xs:attribute name="debug" default="0"/>
    <xs:attribute name="webapp-relative" default="false" type="boolean"/>
    <xs:attribute name="expires"/>
    <xs:attribute name="buffered" default="false" type="boolean"/>
    <xs:attribute name="input-encoding"/>
    <xs:attribute name="output-encoding" default="UTF-8"/>
  </xs:complexType>

  <xs:complexType name="ssi-filterType">
    <xs:attribute name="debug" default="0"/>
    <xs:attribute name="webapp-relative" default="false" type="boolean"/>
    <xs:attribute name="expires"/>
    <xs:attribute name="content-type-regex"/>
  </xs:complexType>

  <xs:element name="connector">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ssl" type="sslType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="socket" type="socket-refType" minOccurs="0" maxOccurs="1" />
        <xs:element name="properties" type="propertiesWithRequiredValueType" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="web-connector-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="web-connector-attlist">
    <xs:attribute name="name" use="required"/>
    <xs:attribute name="native" default="true" type="boolean"/>
    <xs:attribute name="protocol"/>
    <xs:attribute name="scheme"/>
    <xs:attribute name="redirect-port"/>
    <xs:attribute name="secure" default="false" type="boolean"/>
    <xs:attribute name="default-virtual-server"/>
    <xs:attribute name="production" default="false" type="boolean"/>
    <xs:attribute name="enabled" default="true" type="boolean"/>
    <xs:attribute name="executor" type="xs:IDREF" />     
  </xs:attributeGroup>

  <xs:element name="virtual-server">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="access-log" minOccurs="0" type="http-access-logType"/>
        <xs:element name="connector" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="host" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
                <xs:documentation>Vhost aliases</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element name="rewrite" minOccurs="0" type="http-rewriteType"/>
        <xs:element name="properties" type="propertiesWithRequiredValueType" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="virtual-server-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="virtual-server-attlist">
    <xs:attribute name="name" use="required"> 
        <xs:annotation>
            <xs:documentation>Main vhost name</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="default-web-module" default="ROOT.war" />
  </xs:attributeGroup>

    <xs:complexType name="http-access-logType">
        <xs:attribute name="directory" default="${jboss.server.home.dir}/logs/access"/>
        <xs:attribute name="pattern" default="common"/>
        <xs:attribute name="resolve-hosts" default="false" type="boolean"/>
        <xs:attribute name="extended" default="false" type="boolean"/>
        <xs:attribute name="prefix" default="access_log."/>
        <xs:attribute name="rotate" default="true" type="boolean"/>
    </xs:complexType>
    
    <xs:complexType name="http-rewriteType">
        <xs:sequence>
            <xs:element name="condition" type="rewrite-conditionType" />
        </xs:sequence>
        
        <xs:attribute name="pattern" use="required">
            <xs:annotation>
                <xs:documentation>Pattern is a perl compatible regular expression,
                  which is applied to the current URL
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="substitution" use="required">
            <xs:annotation>
                <xs:documentation>The substitution of a rewrite rule is the string 
                  which is substituted for (or replaces) the original URL which Pattern matched
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="flags" use="required">
            <xs:annotation>
                <xs:documentation>Substitution options</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="rewrite-conditionType">        
        <xs:attribute name="test" use="required">
            <xs:annotation>
                <xs:documentation>The test string is first evaluated, before being 
                  matched against the specified pattern</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pattern" use="required">
            <xs:annotation>
                <xs:documentation>CondPattern is the condition pattern, a regular
                  expression which is applied to the current instance of the test string
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="flags" use="required">
            <xs:annotation>
                <xs:documentation>Matching options</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

</xs:schema>
