testsuite/integration/ws/src/test/java/org/jboss/as/test/integration/ws/wsrm/ReliableService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ReliableService" targetNamespace="http://www.jboss.org/jbossws/ws-extensions/wsrm" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.jboss.org/jbossws/ws-extensions/wsrm"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/2006/07/ws-policy">
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified" targetNamespace="http://www.jboss.org/jbossws/ws-extensions/wsrm" version="1.0"
                   xmlns:tns="http://www.jboss.org/jbossws/ws-extensions/wsrm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="sayHello" type="tns:sayHello"/>
            <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>
            <xs:element name="writeLogMessage" type="tns:writeLogMessage"/>
            <xs:complexType name="writeLogMessage">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="sayHello">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sayHelloResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="writeLogMessage">
        <wsdl:part element="tns:writeLogMessage" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHelloResponse">
        <wsdl:part element="tns:sayHelloResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHello">
        <wsdl:part element="tns:sayHello" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ReliableService">
        <wsdl:operation name="writeLogMessage">
            <wsdl:input message="tns:writeLogMessage" name="writeLogMessage">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:sayHello" name="sayHello">
            </wsdl:input>
            <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReliableServiceSoapBinding" type="tns:ReliableService">
        <wsp:Policy>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2006/05/addressing/wsdl"/>
            <wsrmp:RMAssertion xmlns:wsrmp="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
        </wsp:Policy>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="writeLogMessage">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="writeLogMessage">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayHello">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHelloResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReliableService">
        <wsdl:port binding="tns:ReliableServiceSoapBinding" name="ReliableServicePort">
            <soap:address location="http://server.domain:8080/ws-reliable-messaging-example/ReliableService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>