messaging/src/main/resources/jboss-messaging.xsd

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2010, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:jboss:domain:messaging:1.0"
           xmlns="urn:jboss:domain:messaging:1.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <!-- The messaging subsystem root element -->
    <xs:element name="subsystem" type="subsystemType"/>

    <xs:complexType name="subsystemType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                The configuration of the messaging subsystem.
            ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="configuration" type="configurationType"/>
        </xs:choice>
    </xs:complexType>

    <!-- This is currently the hornetq 2.1.2 hornetq-configuration.xsd largely verbatim -->
    <xs:complexType name="configurationType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                The configuration of the Remoting subsystem.

                The "thread-pool" attribute specifies what thread pool to use for Remoting invocations and asynchronous tasks.

                The nested "connector" element(s) define connectors for this subsystem.
            ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element maxOccurs="1" minOccurs="0" ref="clustered"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="file-deployment-enabled"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="persistence-enabled"/>
            <xs:element maxOccurs="1" minOccurs="0" name="scheduled-thread-pool-max-size" type="xs:int">
                <xs:annotation>
                    <xs:documentation>
                        Maximum number of threads to use for the scheduled thread pool
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="thread-pool-max-size" type="xs:int">
                <xs:annotation>
                    <xs:documentation>
                        Maximum number of threads to use for the thread pool
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="security-enabled" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="security-invalidation-interval" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="wild-card-routing-enabled" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="management-address" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="management-notification-address" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="cluster-user" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="cluster-password" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="log-delegate-factory-class-name" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="jmx-management-enabled" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="jmx-domain" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="message-counter-enabled" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="message-counter-sample-period" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="message-counter-max-day-history" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="connection-ttl-override" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="async-connection-execution-enabled" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="transaction-timeout" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="transaction-timeout-scan-period" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="message-expiry-scan-period" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="message-expiry-thread-priority" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="id-cache-size" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="persist-id-cache" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" ref="remoting-interceptors">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="backup" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="shared-store" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="persist-delivery-count-before-delivery" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="backup-connector-ref" type="backup-connectorType">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="connectors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="connector" type="connectorType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="acceptors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="acceptor" type="acceptorType">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="broadcast-groups">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="broadcast-group">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="discovery-groups">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="discovery-group">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="diverts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="divert" type="divertType">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="queues">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="bridges">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="bridge" type="bridgeType">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="cluster-connections">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="cluster-connection"
                                    type="clusterConnectionType">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="grouping-handler" type="groupingHandlerType">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="paging-directory" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="bindings-directory" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="create-bindings-dir" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-directory" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="create-journal-dir" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-type" type="journalType">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-buffer-timeout" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-buffer-size" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-sync-transactional" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-sync-non-transactional" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="log-journal-write-rate" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-file-size" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-min-files" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-compact-percentage" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-compact-min-files" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="journal-max-io" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="perf-blast-pages" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="run-sync-speed-test" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="server-dump-interval" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="memory-warning-threshold" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="memory-measure-interval" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="large-messages-directory" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="security-settings">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="address-settings">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="connector-services">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="connector-service"
                                    type="connectorServiceType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>


    <xs:element name="clustered" type="xs:boolean"/>

    <xs:element name="file-deployment-enabled" type="xs:boolean"/>

    <xs:element name="persistence-enabled" type="xs:boolean"/>

    <xs:element name="local-bind-address" type="xs:string"/>

    <xs:element name="local-bind-port" type="xs:int"/>

    <xs:element name="group-address" type="xs:string"/>

    <xs:element name="group-port" type="xs:int"/>

    <xs:element name="broadcast-period" type="xs:long"/>

    <xs:element name="connector-ref" type="connector-refType">
    </xs:element>

    <xs:element name="broadcast-group">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" ref="local-bind-address">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="local-bind-port">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" ref="group-address">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" ref="group-port">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="broadcast-period">
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="connector-ref">
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="refresh-timeout" type="xs:int"/>

    <xs:element name="discovery-group">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" ref="local-bind-address">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" ref="group-address">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" ref="group-port">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="refresh-timeout">
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="discovery-group-ref">
        <xs:complexType>
            <xs:attribute name="discovery-group-name" type="xs:IDREF">
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="connector-refType">
        <xs:attribute name="connector-name" type="xs:IDREF" use="required">
        </xs:attribute>
        <xs:attribute name="backup-connector-name" type="xs:IDREF" use="optional">
        </xs:attribute>
    </xs:complexType>

    <xs:element name="remoting-interceptors">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="class-name" type="xs:string">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="paramType">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="connectorType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="factory-class" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="param" type="paramType">
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="acceptorType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="factory-class" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="param" type="paramType">
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="bridgeType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="queue-name" type="xs:IDREF">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="forwarding-address" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="filter">
                <xs:complexType>
                    <xs:attribute name="string" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="transformer-class-name" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="retry-interval" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="retry-interval-multiplier" type="xs:double">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="reconnect-attempts" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="failover-on-server-shutdown" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="use-duplicate-detection" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="confirmation-window-size" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="user" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="password" type="xs:string">
            </xs:element>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="1" name="connector-ref" type="connector-refType">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="discovery-group-ref">
                    <xs:complexType>
                        <xs:attribute name="discovery-group-name" type="xs:IDREF" use="required">
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="clusterConnectionType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="address" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="retry-interval" type="xs:long">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="use-duplicate-detection" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="forward-when-no-consumers" type="xs:boolean">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="max-hops" type="xs:int">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="confirmation-window-size" type="xs:int">
            </xs:element>
            <xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="connector-ref" type="connector-refType">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="discovery-group-ref">
                    <xs:complexType>
                        <xs:attribute name="discovery-group-name" type="xs:IDREF" use="required">
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="divertType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="routing-name" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="address" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="forwarding-address" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="filter">
                <xs:complexType>
                    <xs:attribute name="string" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="transformer-class-name" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="exclusive" type="xs:boolean">
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:simpleType name="journalType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASYNCIO"/>
            <xs:enumeration value="NIO"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="groupingHandlerType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="type" type="groupingHandlerTypeType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="address" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="timeout" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:simpleType name="groupingHandlerTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LOCAL"/>
            <xs:enumeration value="REMOTE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="security-settings">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="security-setting">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="security-setting">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="permission">
                    <xs:complexType>
                        <xs:attribute name="type" type="xs:string" use="required"/>
                        <xs:attribute name="roles" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="match" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="address-settings">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="address-setting">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="address-setting">
        <xs:complexType>
            <xs:all>
                <xs:element maxOccurs="1" minOccurs="0" name="dead-letter-address" type="xs:string">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="expiry-address" type="xs:string">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="redelivery-delay" type="xs:long">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="max-delivery-attempts" type="xs:int">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="max-size-bytes" type="xs:long">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="page-size-bytes" type="xs:long">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="address-full-policy" type="addressFullMessagePolicyType">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="message-counter-history-day-limit" type="xs:int">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="last-value-queue" type="xs:boolean">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="redistribution-delay" type="xs:long">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="send-to-dla-on-no-route" type="xs:boolean">
                </xs:element>
            </xs:all>
            <xs:attribute name="match" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="queues">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="queue">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="queue">
        <xs:complexType>
            <xs:all>
                <xs:element maxOccurs="1" minOccurs="1" name="address" type="xs:string">
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="filter">
                    <xs:complexType>
                        <xs:attribute name="string" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="durable" type="xs:boolean">
                </xs:element>
            </xs:all>
            <xs:attribute name="name" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="backup-connectorType">
        <xs:attribute name="connector-name" type="xs:IDREF" use="required">
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="addressFullMessagePolicyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DROP"/>
            <xs:enumeration value="PAGE"/>
            <xs:enumeration value="BLOCK"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="connectorServiceType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="factory-class" type="xs:string">
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="param" type="paramType">
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
</xs:schema>