redhat-support-lib.orig/src/main/xsd/strata-diagnostics.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- This document is used by JAXB to generate Java classes at project build 
	time. Most entities can be the top-level payload of an REST API response 
	or embedded in another entity. -->
<xs:schema targetNamespace="http://www.redhat.com/gss/strata"
	elementFormDefault="qualified" version="1.14.0-SNAPSHOT-SNAPSHOT"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="http://www.redhat.com/gss/strata"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc">

	<!-- ================================================================================================= -->

	<xs:complexType name="backtraceType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    An extracted backtrace.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>An extracted backtrace.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:trackedEntityType">
				<xs:sequence>
					<xs:element name="uri" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>RESTful URI for this backtrace resource.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="taskid" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unique task identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Task password.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="filename" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of uploaded file.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="bt" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Extracted backtrace text.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="status" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>String describing the backtrace extraction status.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="explainSbrType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Complex Type for explain Sbr.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Complex Type for explain Sbr.</xs:documentation>
		</xs:annotation>            
		<xs:sequence>
			<xs:element ref="tns:sbrs"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="extractedSymptomType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Extracted Symptom with fields.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>                    
			<xs:documentation>Extracted Symptom with fields.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:trackedEntityType">
				<xs:sequence>
                    <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="category" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="occurrences" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="verbatim" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="fields" type="tns:symptomFieldsType" minOccurs="1" maxOccurs="1" />
                    <xs:element name="locations" type="tns:SymptomLocationsType" minOccurs="1" maxOccurs="1" />
                    <xs:element name="summary" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="signature" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="timestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="extractedSymptomsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Complex Type for extracted symptoms.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>                    
			<xs:documentation>Complex Type for extracted symptoms.</xs:documentation>
		</xs:annotation>            
		<xs:complexContent>
			<xs:extension base="tns:strataEntityType">
				<xs:sequence>
					<xs:element name="extractedSymptom" type="tns:extractedSymptomType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="languageProfileType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    It contains details of detected language and language probablity list
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>                    
			<xs:documentation>It contains details of detected language and language probablity list</xs:documentation>
		</xs:annotation>

		<xs:complexContent>
			<xs:extension base="tns:strataEntityType">
				<xs:sequence>
					<xs:element ref="tns:languages" minOccurs="0" maxOccurs="1"/>
					<xs:element name="detectedLanguage" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="problemSymptomParametersType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Complex Type for problem symptom parameters.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Complex Type for problem symptom parameters.</xs:documentation>
		</xs:annotation>        
        <xs:sequence>
            <xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="problemType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A problem report.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>A problem report.</xs:documentation>
		</xs:annotation>

		<xs:sequence>    
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="tns:link"/>                                
			</xs:choice>

			<xs:element ref="tns:explainSbr" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="problemsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A list of problem reports.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>                    
			<xs:documentation>A list of problem reports.</xs:documentation>
		</xs:annotation>

		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="tns:link"/>
			<xs:element ref="tns:problem"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="sbrsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A list of sbrs.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>                    
			<xs:documentation>A list of sbrs.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tns:sbr"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sbrType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Complex Type for sbr.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Complex Type for sbr.</xs:documentation>
		</xs:annotation>            
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="score" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sourceType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    The source of a problem
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>The source of a problem</xs:documentation>
		</xs:annotation>

		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required">
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="suggested_artifactType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    An Artifact.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>An Artifact.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The formal Artifact name</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The formal Artifact description
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="suggested_artifactsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A list of Artifacts.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>A list of Artifacts.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element ref="tns:suggested_artifact" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="symptomFieldType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Symptom field and related meta data.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Symptom field and related meta data.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="key" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="symptomFieldsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A list of symptom fields.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>A list of symptom fields.</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="field" type="tns:symptomFieldType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="SymptomLocationType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Symptom Locatoin with line numbers and char indexes.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Symptom Locatoin with line numbers and char indexes.</xs:documentation>
		</xs:annotation>

        <xs:sequence>
            <xs:element name="beginCharIndex" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="endCharIndex" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="beginLine" type="xs:integer"  minOccurs="1" maxOccurs="1" />
            <xs:element name="endLine" type="xs:integer" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SymptomLocationsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A list of symptom locations.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>                    
			<xs:documentation>A list of symptom locations.</xs:documentation>
		</xs:annotation>

        <xs:sequence>
            <xs:element name="location" type="tns:SymptomLocationType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="SystemProfileCategoryDetailsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Complex Type for System Profile Category Details.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>                    
			<xs:documentation>Complex Type for System Profile Category Details.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SystemProfileCategoryType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Complex Type for System Profile Category.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>                    
			<xs:documentation>Complex Type for System Profile Category.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SystemProfileCategoryName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SystemProfileCategorySummary" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="tns:SystemProfileCategoryDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="symptomType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    Complex Type for Symptom.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>Complex Type for Symptom.</xs:documentation>
		</xs:annotation>            
		<xs:complexContent>
			<xs:extension base="tns:trackedEntityType">
				<xs:sequence>
					<xs:element name="caseNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="data" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="display" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
					<xs:element name="maturityLevel" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="tns:problemSymptomParameters" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>

					<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>RESTful URI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Problem symptom identifier assigned by backing system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="symptomsType">
		<xs:annotation>
                        <xs:appinfo>
                            <jaxb:class>
                                <jaxb:javadoc>
                                    A list of Symptoms.
                                </jaxb:javadoc>
                            </jaxb:class>
                        </xs:appinfo>
			<xs:documentation>A list of Symptoms.</xs:documentation>
		</xs:annotation>

		<xs:complexContent>
			<xs:extension base="tns:strataEntityType">
				<xs:sequence>
					<xs:element ref="tns:symptom" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- ================================================================================================= -->

	<xs:element name="backtrace" type="tns:backtraceType">
		<xs:annotation>
			<xs:documentation>An extracted backtrace.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="explainSbr" type="tns:explainSbrType"/>

	<xs:element name="extractedSymptoms" type="tns:extractedSymptomsType">
		<xs:annotation>
			<xs:documentation>A list of Extracted Symptoms.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="languageProfile" type="tns:languageProfileType">
		<xs:annotation>
			<xs:documentation>It contains details of detected language and language probablity list</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="problem" type="tns:problemType">
		<xs:annotation>
			<xs:documentation>A problem report.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="problems" type="tns:problemsType">
		<xs:annotation>
			<xs:documentation>A list of problem reports.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="problemSymptomParameters" type="tns:problemSymptomParametersType"/>

	<xs:element name="sbr" type="tns:sbrType"/>

	<xs:element name="sbrs" type="tns:sbrsType"/>

	<xs:element name="source" type="tns:sourceType">
		<xs:annotation>
			<xs:documentation>The source of a problem</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="sqiRating" type="tns:sqiRatingType">
		<xs:annotation>
			<xs:documentation>An SQI Rating for a KCS Solution.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="suggested_artifacts" type="tns:suggested_artifactsType">
		<xs:annotation>
			<xs:documentation>A list of Artifacts.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="suggested_artifact" type="tns:suggested_artifactType">
		<xs:annotation>
			<xs:documentation>A Artifact.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="symptom" type="tns:symptomType">
		<xs:annotation>
			<xs:documentation>symptom and related meta data.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="symptoms" type="tns:symptomsType">
		<xs:annotation>
			<xs:documentation>A list of Symptoms.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="symptomFields" type="tns:symptomFieldsType"/>

	<xs:element name="SystemProfileCategory" type="tns:SystemProfileCategoryType"/>

	<xs:element name="SystemProfileCategoryDetails" type="tns:SystemProfileCategoryDetailsType"/>

	<!-- ================================================================================================= -->

</xs:schema>