insights/src/main/resources/schema/jboss-eap-insights_1_0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:org.jboss.as.insights:1.0"
            xmlns="urn:org.jboss.as.insights:1.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="1.0">

    <xs:element name="subsystem" type="subsystemType"/>
    <xs:complexType name="subsystemType">
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="io-threads" type="xs:int"/>
    </xs:complexType>
</xs:schema>
