observability/opentelemetry/src/main/resources/schema/wildfly-opentelemetry_community_1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:wildfly:opentelemetry:community:1.2"
           xmlns="urn:wildfly:opentelemetry:community:1.2"
           elementFormDefault="qualified"
           version="1.2">

    <xs:element name="subsystem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="filters" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="filter" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="outcome" default="reject">
                                        <xs:annotation>
                                            <xs:documentation>
                                                The outcome of the filter: accept or reject.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="accept"/>
                                                <xs:enumeration value="reject"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="field" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                The meter field to match against (e.g., name, tag, type).
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="meter-name"/>
                                                <xs:enumeration value="tag-name"/>
                                                <xs:enumeration value="tag-value"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="condition" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                The condition to apply (e.g., equals, contains, matches).
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="starts-with"/>
                                                <xs:enumeration value="ends-with"/>
                                                <xs:enumeration value="contains"/>
                                                <xs:enumeration value="equals"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="negate" type="xs:boolean" default="false">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Whether to negate the condition.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="value" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                The value to match against the field using the condition.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="name" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                A unique name for this filter.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="exporter" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Configures the exporter used to export traces
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="type" default="otlp">
                            <xs:annotation>
                                <xs:documentation>
                                    The type of exporter to use. Currently, the only supported value is 'otlp'.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="otlp"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="endpoint" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    The endpoint to which traces are exported. Value will be exporter-type-dependent.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="span-processor" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            This configures the processor for the spans in the trace
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="type" default="batch">
                            <xs:annotation>
                                <xs:documentation>
                                    The type of processor to use. Valid values are 'simple' and 'batch'.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="batch"/>
                                    <xs:enumeration value="simple"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute type="xs:integer" name="batch-delay" default="5000">
                            <xs:annotation>
                                <xs:documentation>
                                    The interval, in milliseconds, between two consecutive exports. Default is 5000.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute type="xs:integer" name="max-queue-size" default="2048">
                            <xs:annotation>
                                <xs:documentation>
                                    The maximum number of traces in the queue before they are exported.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute type="xs:integer" name="max-export-batch-size" default="512">
                            <xs:annotation>
                                <xs:documentation>
                                    The maximum number of traces to be exported in a given batch.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute type="xs:integer" name="export-timeout" default="30000">
                            <xs:annotation>
                                <xs:documentation>
                                    The interval, in milliseconds, between two consecutive exports. Default is 5000.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sampler" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="type">
                            <xs:annotation>
                                <xs:documentation>
                                    The sampling strategy to use.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="on"/>
                                    <xs:enumeration value="off"/>
                                    <xs:enumeration value="ratio"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute type="xs:float" name="ratio">
                            <xs:annotation>
                                <xs:documentation>
                                    For the ratio-based sampler, this configures the percentage of traces to sample.
                                    Must be between 0.0 and 1.0.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="service-name">
                <xs:annotation>
                    <xs:documentation>
                        The service name reported to the trace collector
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute type="xs:boolean" name="system-metrics" default="true">
                <xs:annotation>
                    <xs:documentation>
                        Whether system and JVM metrics are registered
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
