observability/opentelemetry/src/main/resources/schema/wildfly-opentelemetry_preview_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:wildfly:opentelemetry:preview:2.0"
           xmlns="urn:wildfly:opentelemetry:preview:2.0"
           elementFormDefault="qualified"
           version="2.0">

    <xs:element name="subsystem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exporter" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Configures the exporter used to export signals
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="type" default="otlp">
                            <xs:annotation>
                                <xs:documentation>
                                    The type of exporter to use. Currently, the only supported value is 'otlp'.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="otlp"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="endpoint" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    The endpoint to which traces are exported. Value will be exporter-type-dependent.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="span-processor" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            This configures the processor for the spans in the trace
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="type" default="batch">
                            <xs:annotation>
                                <xs:documentation>
                                    The type of processor to use. Valid values are 'simple' and 'batch'.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="batch"/>
                                    <xs:enumeration value="simple"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute type="xs:integer" name="export-interval" default="5000">
                            <xs:annotation>
                                <xs:documentation>
                                    The interval, in milliseconds, between two consecutive exports.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute type="xs:integer" name="max-queue-size" default="2048">
                            <xs:annotation>
                                <xs:documentation>
                                    The maximum number of traces in the queue before they are exported.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute type="xs:integer" name="max-export-batch-size" default="512">
                            <xs:annotation>
                                <xs:documentation>
                                    The maximum number of traces to be exported in a given batch.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute type="xs:integer" name="export-timeout" default="30000">
                            <xs:annotation>
                                <xs:documentation>
                                    The maximum allowed time, in milliseconds, to export data.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sampler" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="type">
                            <xs:annotation>
                                <xs:documentation>
                                    The sampling strategy to use.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="on"/>
                                    <xs:enumeration value="off"/>
                                    <xs:enumeration value="ratio"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute type="xs:float" name="ratio">
                            <xs:annotation>
                                <xs:documentation>
                                    For the ratio-based sampler, this configures the percentage of traces to sample.
                                    Must be between 0.0 and 1.0.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="metrics" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute type="xs:integer" name="export-interval" default="60000">
                            <xs:annotation>
                                <xs:documentation>
                                    The interval, in milliseconds, between two consecutive exports.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="exemplar-filter" default="trace_based">
                            <xs:annotation>
                                <xs:documentation>
                                    The filter for exemplar sampling.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="always_off"/>
                                    <xs:enumeration value="always_on"/>
                                    <xs:enumeration value="trace_based"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="temporality" default="cumulative">
                            <xs:annotation>
                                <xs:documentation>
                                    The preferred output aggregation temporality.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="delta"/>
                                    <xs:enumeration value="lowmemory"/>
                                    <xs:enumeration value="cumulative"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="histogram-aggregation" default="explicit_bucket_histogram">
                            <xs:annotation>
                                <xs:documentation>
                                    The preferred default histogram aggregation.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="base2_exponential_bucket_histogram"/>
                                    <xs:enumeration value="explicit_bucket_histogram"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="logs" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute type="xs:integer" name="export-interval" default="1000">
                            <xs:annotation>
                                <xs:documentation>
                                    The interval, in milliseconds, between two consecutive exports.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tls" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute type="xs:string" name="ssl-context">
                            <xs:annotation>
                                <xs:documentation>
                                    The name of the Elytron SSL context to use when communicating with the OpenTelemetry Collector
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="service-name">
                <xs:annotation>
                    <xs:documentation>
                        The service name reported to the trace collector
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="compression" >
                <xs:annotation>
                    <xs:documentation>
                        The compression type to use on OTLP trace, metric, and log requests.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="gzip"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
