patching/src/main/resources/patch-config.xsd

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2013, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:jboss:patch-config:1.0"
           targetNamespace="urn:jboss:patch-config:1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
        >

    <xs:element name="patch-config">
        <xs:annotation>
            <xs:documentation>
                Patch description
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <!--xs:element name="id" type="patchIdType" minOccurs="1" maxOccurs="1"/-->
                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:choice>
                    <xs:element name="cumulative" type="cumulative-patchType" maxOccurs="1"/>
                    <xs:element name="one-off" type="patchType" maxOccurs="1"/>
                </xs:choice>
                <xs:choice>
                    <xs:element name="generate-by-diff" type="generate-by-diffType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="specified-content" type="specified-contentType" minOccurs="0" maxOccurs="1"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="patchType">
        <xs:annotation>
            <xs:documentation>
                Describes the type of the patch
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="applies-to-version" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Identifier of the project or product version to which this patch can be applied.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cumulative-patchType">
        <xs:annotation>
            <xs:documentation>
                Cumulative patch release, invalidating all previous one-off patches
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="applies-to-version" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Identifier of the project or product version to which this patch applies.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="resulting-version" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Identifier of the project or product version that will be installed once this patch is applied.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="generate-by-diffType">
        <xs:annotation>
            <xs:documentation>
                Indicates the patch should be generated by comparing the contents of two distributions.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="in-runtime-use" type="contentType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="specified-contentType">
        <xs:annotation>
            <xs:documentation>
                Indicates the patch should be generated by using the specifically identified herein.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="modules" type="modulesType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="bundles" type="bundlesType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="misc-files" type="misc-filesType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="modulesType">
        <xs:sequence>
            <xs:element name="added-module" type="slotted-contentType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="updated-module" type="slotted-contentType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="removed-module" type="slotted-contentType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bundlesType">
        <xs:sequence>
            <xs:element name="added-bundle" type="slotted-contentType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="updated-bundle" type="slotted-contentType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="removed-bundle" type="slotted-contentType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="misc-filesType">
        <xs:sequence>
            <xs:element name="added-misc-content" type="added-misc-contentType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="updated-misc-content" type="updated-misc-contentType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="removed-misc-content" type="removed-misc-contentType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="contentType">
        <xs:annotation>
            <xs:documentation>
                A piece of patch content.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="path" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Location of the content within the patch file.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="slotted-contentType">
        <xs:annotation>
            <xs:documentation>
                A piece of patch content with a name and a slot.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="slot" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="added-misc-contentType">
        <xs:annotation>
            <xs:documentation>
                Miscellaneous content that the patch adds to the installation.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="contentType">
                <xs:attribute name="directory" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            Whether the added content is a directory.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="updated-misc-contentType">
        <xs:annotation>
            <xs:documentation>
                Miscellaneous content in the installation being patched that the patch modifies.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="contentType">
                <xs:attribute name="directory" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            Whether the new version of the content is a directory.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="in-runtime-use" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>
                            Whether the content is expected to be in use by a non-admin-only standalone server or Host Controller.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="removed-misc-contentType">
        <xs:annotation>
            <xs:documentation>
                Miscellaneous content in the installation being patched that the patch removes.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="path" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Location of the content within the patch file.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="directory" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    Whether the removed content is a directory
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="in-runtime-use" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    Whether the content is expected to be in use by a non-admin-only standalone server or Host Controller.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

</xs:schema>
